{% extends 'layouts/base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block home %}{% url 'tashkilot:dashboard' %}{% endblock %}

{% block content %}
    {#    Tashkilot info#}
    <div class="a-tashkilot-info row mt-3">
        <div class="col-12 text-center">
            <span class="font-weight-bold d-block" style="font-size: 20px">Napa Edu Hub</span>
            <small class="text-secondary">O'quv markaz</small>
        </div>
        <div class="col-12 d-flex justify-content-around align-items-center">
            <img src="{% static 'img/no_avatar.png' %}" class="a-image-size rounded-circle" alt="">
            <span class="font-weight-bolder">8ta o'qituvchi</span>
            <span class="font-weight-bolder">258ta o'quvchi</span>
        </div>
    </div>
    {#    /////////////////////#}
    {#    Menyular#}
    <div class="a-menus row mt-3">
        <div class="col-12 d-flex justify-content-around text-center">
            <div class="a-menu border-bottom border-dark d-inline mr-1 pb-2">
                <span class="font-weight-bold">O'qituvchilar</span>
            </div>
            <div class="a-menu border-bottom d-inline mr-2 pb-2">
                <span>O'quvchilar</span>
            </div>
            <div class="a-menu border-bottom d-inline mr-2 pb-2">
                <span>Fanlar</span>
            </div>
            <div class="a-menu border-bottom d-inline mr-2 pb-2">
                <span>Dars jadvallari</span>
            </div>
            <div class="a-menu border-bottom d-inline mr-2 pb-2">
                <span>E'lonlar</span>
            </div>
        </div>
    </div>
    {#    /////////////////////#}
    {#    O'qituvchilar#}
    <div class="a-oqituvchilar row mt-3">
        <div class="d-flex col-12 mb-3">
            <a href="{% url 'tashkilot:add-oqituvchi' %}" class="btn btn-primary ml-auto mr-1">O'qituvchi qo'shish</a>
        </div>
        <a href="{% url 'teacher:profile' %}" class="a-oqituvchi col-12 mb-2 text-decoration-none"
           style="color: black">
            <div class="media d-flex align-items-center">
                <img src="{% static 'img/no_avatar.png' %}" class="mr-3 a-image-size" alt="...">
                <div class="media-body d-flex">
                    <h6 class="my-auto">Samadov Uchqun</h6>
                    <span class="badge badge-light ml-auto">Fizika</span>
                </div>
            </div>
        </a>
        <a href="{% url 'teacher:profile' %}" class="a-oqituvchi col-12 mb-2 text-decoration-none"
           style="color: black">
            <div class="media d-flex align-items-center">
                <img src="{% static 'img/no_avatar.png' %}" class="mr-3 a-image-size" alt="...">
                <div class="media-body d-flex">
                    <h6 class="my-auto">Odilov Qosim</h6>
                    <span class="badge badge-light ml-auto">Jismoniy tarbiya</span>
                </div>
            </div>
        </a>
    </div>
    {#    /////////////////////#}
    {#    O'quvchilar#}
    <div class="a-oquvchilar row mt-3" style="display: none">
        <div class="d-flex col-12 mb-3">
            <a href="{% url 'tashkilot:add-guruh' %}" class="btn btn-primary ml-1 mr-auto">Guruh qo'shish</a>
            <a href="{% url 'tashkilot:add-oquvchi' %}" class="btn btn-primary ml-auto mr-1">O'quvchi qo'shish</a>
        </div>
        <div class="col-12">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingDushanba">
                        <h2 class="mb-0">
                            <button class="btn-link btn-block text-left text-decoration-none"
                                    style="border: none; background-color: rgba(0, 0, 0, 0)" type="button"
                                    data-toggle="collapse" data-target="#collapseDushanba" aria-expanded="true"
                                    aria-controls="collapseDushanba">
                                5-A
                            </button>
                        </h2>
                    </div>
                    <div id="collapseDushanba" class="collapse" aria-labelledby="headingDushanba"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-100">Abdumalikov Tohir</li>
                            </ul>
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-100">Bahodirov Rustam</li>
                            </ul>
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-100">Komilov Doston</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSeshanba">
                        <h2 class="mb-0">
                            <button class="btn-link btn-block text-left text-decoration-none collapsed"
                                    style="border: none; background-color: rgba(0, 0, 0, 0)" type="button"
                                    data-toggle="collapse" data-target="#collapseSeshanba" aria-expanded="false"
                                    aria-controls="collapseSeshanba">
                                5-B
                            </button>
                        </h2>
                    </div>
                    <div id="collapseSeshanba" class="collapse" aria-labelledby="headingSeshanba"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-100">Abdumalikov Tohir</li>
                            </ul>
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-100">Bahodirov Rustam</li>
                            </ul>
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-100">Komilov Doston</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingChorshanba">
                        <h2 class="mb-0">
                            <button class="btn-link btn-block text-left text-decoration-none collapsed"
                                    style="border: none; background-color: rgba(0, 0, 0, 0)" type="button"
                                    data-toggle="collapse" data-target="#collapseChorshanba" aria-expanded="false"
                                    aria-controls="collapseChorshanba">
                                6-A
                            </button>
                        </h2>
                    </div>
                    <div id="collapseChorshanba" class="collapse" aria-labelledby="headingChorshanba"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-100">Abdumalikov Tohir</li>
                            </ul>
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-100">Bahodirov Rustam</li>
                            </ul>
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-100">Komilov Doston</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    /////////////////////#}
    {#    Fanlar#}
    <div class="a-fanlar row mt-3" style="display: none">
        <div class="d-flex col-12 mb-3">
            <a href="{% url 'tashkilot:add-fan' %}" class="btn btn-primary ml-auto mr-1">Fan qo'shish</a>
        </div>
        <div class="a-fan col-12 mb-2 text-decoration-none"
           style="color: black">
            <div class="media d-flex align-items-center">
                <img src="{% static 'img/no_avatar.png' %}" class="mr-3 a-image-size" alt="...">
                <div class="media-body d-flex">
                    <h6 class="my-auto">Fizika</h6>
                    <span class="badge badge-light ml-auto">120ta o'quvchi</span>
                </div>
            </div>
        </div>
        <div class="a-fan col-12 mb-2 text-decoration-none"
           style="color: black">
            <div class="media d-flex align-items-center">
                <img src="{% static 'img/no_avatar.png' %}" class="mr-3 a-image-size" alt="...">
                <div class="media-body d-flex">
                    <h6 class="my-auto">Ona tili</h6>
                    <span class="badge badge-light ml-auto">340ta o'quvchi</span>
                </div>
            </div>
        </div>
    </div>
    {#    /////////////////////#}
    {#    Dars jadvallari#}
    <div class="a-dars-jadvallari row mt-3" style="display: none">
        <div class="d-flex col-12 mb-3">
            <button type="button" class="btn btn-primary ml-1 mr-1 a-style-button">Hafta kunlari</button>
            <button type="button" class="btn btn-primary ml-1 mr-auto a-style-button">Guruhlar</button>
            <a href="#" class="btn btn-primary ml-auto mr-1">Jurnalni tahrirlash</a>
        </div>
        <div class="col-12 a-hafta-kunlari">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingDushanba">
                        <h2 class="mb-0">
                            <button class="btn-link btn-block text-left text-decoration-none"
                                    style="border: none; background-color: rgba(0, 0, 0, 0)" type="button"
                                    data-toggle="collapse" data-target="#collapseDushanba" aria-expanded="true"
                                    aria-controls="collapseDushanba">
                                Dushanba
                            </button>
                        </h2>
                    </div>
                    <div id="collapseDushanba" class="collapse" aria-labelledby="headingDushanba"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list-group list-group-horizontal row">
                                <li class="list-group-item col">8:00 - 8:45</li>
                                <li class="list-group-item col">5-A</li>
                                <li class="list-group-item col">Ona tili</li>
                            </ul>
                            <ul class="list-group list-group-horizontal row">
                                <li class="list-group-item col">8:00 - 8:45</li>
                                <li class="list-group-item col">5-B</li>
                                <li class="list-group-item col">Matematika</li>
                            </ul>
                            <ul class="list-group list-group-horizontal row">
                                <li class="list-group-item col">8:00 - 8:45</li>
                                <li class="list-group-item col">6-A</li>
                                <li class="list-group-item col">Rus tili</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSeshanba">
                        <h2 class="mb-0">
                            <button class="btn-link btn-block text-left text-decoration-none collapsed"
                                    style="border: none; background-color: rgba(0, 0, 0, 0)" type="button"
                                    data-toggle="collapse" data-target="#collapseSeshanba" aria-expanded="false"
                                    aria-controls="collapseSeshanba">
                                Seshanba
                            </button>
                        </h2>
                    </div>
                    <div id="collapseSeshanba" class="collapse" aria-labelledby="headingSeshanba"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-50">8:00 - 8:45</li>
                                <li class="list-group-item w-50">Kimyo</li>
                            </ul>
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-50">8:50 - 9:35</li>
                                <li class="list-group-item w-50">Adabiyot</li>
                            </ul>
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-50">9:40 - 10:25</li>
                                <li class="list-group-item w-50">Tasviriy san'at</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingChorshanba">
                        <h2 class="mb-0">
                            <button class="btn-link btn-block text-left text-decoration-none collapsed"
                                    style="border: none; background-color: rgba(0, 0, 0, 0)" type="button"
                                    data-toggle="collapse" data-target="#collapseChorshanba" aria-expanded="false"
                                    aria-controls="collapseChorshanba">
                                Chorshanba
                            </button>
                        </h2>
                    </div>
                    <div id="collapseChorshanba" class="collapse" aria-labelledby="headingChorshanba"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-50">8:00 - 8:45</li>
                                <li class="list-group-item w-50">Jismoniy tarbiya</li>
                            </ul>
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-50">8:50 - 9:35</li>
                                <li class="list-group-item w-50">Musiqa</li>
                            </ul>
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-50">9:40 - 10:25</li>
                                <li class="list-group-item w-50 text-danger">Matematika</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 a-guruhlar" style="display: none">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingDushanba">
                        <h2 class="mb-0">
                            <button class="btn-link btn-block text-left text-decoration-none"
                                    style="border: none; background-color: rgba(0, 0, 0, 0)" type="button"
                                    data-toggle="collapse" data-target="#collapseDushanba" aria-expanded="true"
                                    aria-controls="collapseDushanba">
                                5-A
                            </button>
                        </h2>
                    </div>
                    <div id="collapseDushanba" class="collapse" aria-labelledby="headingDushanba"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list-group list-group-horizontal row">
                                <li class="list-group-item col">Dushanba</li>
                                <li class="list-group-item col">8:00 - 8:45</li>
                                <li class="list-group-item col">Ona tili</li>
                                <li class="list-group-item col">Samandarov Qahhor</li>
                            </ul>
                            <ul class="list-group list-group-horizontal row">
                                <li class="list-group-item col">Dushanba</li>
                                <li class="list-group-item col">8:50 - 9:35</li>
                                <li class="list-group-item col">Ona tili</li>
                                <li class="list-group-item col">Malikov Tolib</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSeshanba">
                        <h2 class="mb-0">
                            <button class="btn-link btn-block text-left text-decoration-none collapsed"
                                    style="border: none; background-color: rgba(0, 0, 0, 0)" type="button"
                                    data-toggle="collapse" data-target="#collapseSeshanba" aria-expanded="false"
                                    aria-controls="collapseSeshanba">
                                5-B
                            </button>
                        </h2>
                    </div>
                    <div id="collapseSeshanba" class="collapse" aria-labelledby="headingSeshanba"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list-group list-group-horizontal row">
                                <li class="list-group-item col">Dushanba</li>
                                <li class="list-group-item col">8:00 - 8:45</li>
                                <li class="list-group-item col">Ona tili</li>
                                <li class="list-group-item col">Samandarov Qahhor</li>
                            </ul>
                            <ul class="list-group list-group-horizontal row">
                                <li class="list-group-item col">Dushanba</li>
                                <li class="list-group-item col">8:50 - 9:35</li>
                                <li class="list-group-item col">Ona tili</li>
                                <li class="list-group-item col">Malikov Tolib</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingChorshanba">
                        <h2 class="mb-0">
                            <button class="btn-link btn-block text-left text-decoration-none collapsed"
                                    style="border: none; background-color: rgba(0, 0, 0, 0)" type="button"
                                    data-toggle="collapse" data-target="#collapseChorshanba" aria-expanded="false"
                                    aria-controls="collapseChorshanba">
                                6-A
                            </button>
                        </h2>
                    </div>
                    <div id="collapseChorshanba" class="collapse" aria-labelledby="headingChorshanba"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list-group list-group-horizontal row">
                                <li class="list-group-item col">Dushanba</li>
                                <li class="list-group-item col">8:00 - 8:45</li>
                                <li class="list-group-item col">Ona tili</li>
                                <li class="list-group-item col">Samandarov Qahhor</li>
                            </ul>
                            <ul class="list-group list-group-horizontal row">
                                <li class="list-group-item col">Dushanba</li>
                                <li class="list-group-item col">8:50 - 9:35</li>
                                <li class="list-group-item col">Ona tili</li>
                                <li class="list-group-item col">Malikov Tolib</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    /////////////////////#}
{% endblock %}

{% block js %}
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}