{% extends 'layouts/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href={% static 'css/profile.css' %}>
{% endblock %}

{% block content %}
    {#    Teacher info#}
    <div class="a-teacher-info row mt-3">
        <div class="col-12 text-center">
            <span class="font-weight-bold d-block" style="font-size: 20px">Komilova Laylo</span>
            <small class="text-secondary">Fizika</small>
        </div>
        <div class="col-12 d-flex justify-content-around align-items-center">
            <img src="{% static 'img/no_avatar.png' %}" class="a-image-size rounded-circle" alt="">
            <span class="font-weight-bolder">7 classes</span>
            <span class="font-weight-bolder">226 students</span>
        </div>
    </div>
    {#    /////////////////////#}
    {#    Menyular#}
    <div class="a-menus row mt-3">
        <div class="col-12 d-flex justify-content-around text-center">
            <div class="a-menu border-bottom border-dark d-inline mr-1 pb-2">
                <span class="font-weight-bold">Notification</span>
            </div>
            <div class="a-menu border-bottom d-inline mr-2 pb-2">
                <span>Classes</span>
            </div>
            <div class="a-menu border-bottom d-inline mr-2 pb-2">
                <span>Dars jadvali</span>
            </div>
        </div>
    </div>
    {#    /////////////////////#}
    {#    Notification#}
    <div class="a-bildirishnomalar row mt-3">
        <a href="{% url 'main:index' %}" class="a-bildirishnoma col-12 mb-2 text-decoration-none" style="color: black">
            <div class="media d-flex align-items-center">
                <div class="a-class a-image-size d-inline-flex bg-danger rounded-circle text-decoration-none mr-3">
                    <span class="my-auto text-white mx-auto">5-B</span>
                </div>
                <div class="media-body d-flex">
                    <div class="ml-auto">
                        <span class="badge badge-success">12ta <i class="bi-check-circle"></i></span>
                        <span class="badge badge-primary">13ta tekshirilmadi</span>
                        <span class="badge badge-danger">8ta <i class="bi-x-circle"></i></span>
                    </div>
                </div>
            </div>
        </a>
        <a href="{% url 'main:index' %}" class="a-bildirishnoma col-12 mb-2 text-decoration-none" style="color: black">
            <div class="media d-flex align-items-center">
                <div class="a-class a-image-size d-inline-flex bg-warning rounded-circle text-decoration-none mr-3">
                    <span class="my-auto text-white mx-auto">6-B</span>
                </div>
                <div class="media-body d-flex">
                    <div class="ml-auto">
                        <span class="badge badge-success">hammasi tekshiridi</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="{% url 'main:index' %}" class="a-bildirishnoma col-12 mb-2 text-decoration-none" style="color: black">
            <div class="media d-flex align-items-center">
                <div class="a-class a-image-size d-inline-flex bg-info rounded-circle text-decoration-none mr-3">
                    <span class="my-auto text-white mx-auto">8-A</span>
                </div>
                <div class="media-body d-flex">
                    <div class="ml-auto">
                        <span class="badge badge-danger">hech kim topshirmadi</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="{% url 'main:index' %}" class="a-bildirishnoma col-12 mb-2 text-decoration-none" style="color: black">
            <div class="media d-flex align-items-center">
                <div class="a-class a-image-size d-inline-flex bg-success rounded-circle text-decoration-none mr-3">
                    <span class="my-auto text-white mx-auto">9-A</span>
                </div>
                <div class="media-body d-flex">
                    <div class="ml-auto">
                        <span class="badge badge-primary">hech biri tekshirilmadi</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {#    /////////////////////#}
    {#    Classes#}
    <div class="a-classes row mt-3" style="display: none">
        <a href="{% url 'main:index' %}" class="a-classes col-12 mb-2 text-decoration-none" style="color: black">
            <div class="media d-flex align-items-center">
                <div class="a-class a-image-size d-inline-flex bg-danger rounded-circle text-decoration-none mr-3">
                    <span class="my-auto text-white mx-auto">5-B</span>
                </div>
                <div class="media-body d-flex">
                    <div class="ml-auto">
                        <span>32 students</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="{% url 'main:index' %}" class="a-classes col-12 mb-2 text-decoration-none" style="color: black">
            <div class="media d-flex align-items-center">
                <div class="a-class a-image-size d-inline-flex bg-warning rounded-circle text-decoration-none mr-3">
                    <span class="my-auto text-white mx-auto">6-B</span>
                </div>
                <div class="media-body d-flex">
                    <div class="ml-auto">
                        <span>27 students</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="{% url 'main:index' %}" class="a-classes col-12 mb-2 text-decoration-none" style="color: black">
            <div class="media d-flex align-items-center">
                <div class="a-class a-image-size d-inline-flex bg-info rounded-circle text-decoration-none mr-3">
                    <span class="my-auto text-white mx-auto">8-A</span>
                </div>
                <div class="media-body d-flex">
                    <div class="ml-auto">
                        <span>37 students</span>
                    </div>
                </div>
            </div>
        </a>
        <a href="{% url 'main:index' %}" class="a-classes col-12 mb-2 text-decoration-none" style="color: black">
            <div class="media d-flex align-items-center">
                <div class="a-class a-image-size d-inline-flex bg-success rounded-circle text-decoration-none mr-3">
                    <span class="my-auto text-white mx-auto">9-A</span>
                </div>
                <div class="media-body d-flex">
                    <div class="ml-auto">
                        <span>34 students</span>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {#    /////////////////////#}
    {#    Dars jadvali#}
    <div class="a-dars-jadvali row mt-3" style="display: none">
        <div class="col-12">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingDushanba">
                        <h2 class="mb-0">
                            <button class="btn-link btn-block text-left text-decoration-none"
                                    style="border: none; background-color: rgba(0, 0, 0, 0)" type="button"
                                    data-toggle="collapse" data-target="#collapseDushanba" aria-expanded="true"
                                    aria-controls="collapseDushanba">
                                Dushanba
                            </button>
                        </h2>
                    </div>
                    <div id="collapseDushanba" class="collapse show" aria-labelledby="headingDushanba"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-50">8:00 - 8:45</li>
                                <li class="list-group-item w-50">7-A</li>
                            </ul>
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-50">8:50 - 9:35</li>
                                <li class="list-group-item w-50 text-danger">Dars yo'q</li>
                            </ul>
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-50 bg-info text-white">9:40 - 10:25</li>
                                <li class="list-group-item w-50">5-B</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSeshanba">
                        <h2 class="mb-0">
                            <button class="btn-link btn-block text-left text-decoration-none collapsed"
                                    style="border: none; background-color: rgba(0, 0, 0, 0)" type="button"
                                    data-toggle="collapse" data-target="#collapseSeshanba" aria-expanded="false"
                                    aria-controls="collapseSeshanba">
                                Seshanba
                            </button>
                        </h2>
                    </div>
                    <div id="collapseSeshanba" class="collapse" aria-labelledby="headingSeshanba" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-50">8:00 - 8:45</li>
                                <li class="list-group-item w-50">8-A</li>
                            </ul>
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-50">8:50 - 9:35</li>
                                <li class="list-group-item w-50">6-A</li>
                            </ul>
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-50">9:40 - 10:25</li>
                                <li class="list-group-item w-50">9-B</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingChorshanba">
                        <h2 class="mb-0">
                            <button class="btn-link btn-block text-left text-decoration-none collapsed"
                                    style="border: none; background-color: rgba(0, 0, 0, 0)" type="button"
                                    data-toggle="collapse" data-target="#collapseChorshanba" aria-expanded="false"
                                    aria-controls="collapseChorshanba">
                                Chorshanba
                            </button>
                        </h2>
                    </div>
                    <div id="collapseChorshanba" class="collapse" aria-labelledby="headingChorshanba"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-50">8:00 - 8:45</li>
                                <li class="list-group-item w-50">6-B</li>
                            </ul>
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-50">8:50 - 9:35</li>
                                <li class="list-group-item w-50">7-A</li>
                            </ul>
                            <ul class="list-group list-group-horizontal w-100">
                                <li class="list-group-item w-50">9:40 - 10:25</li>
                                <li class="list-group-item w-50 text-danger">Dars yo'q</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    /////////////////////#}
{% endblock %}

{% block js %}
    <script src={% static 'js/profile.js' %}></script>
{% endblock %}